@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.App {
  text-align: center;
  background: black;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.app-form {
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  /* margin: 20px; */
}

.app-formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app-input {
  flex: 1;
}

.app-iconButton {
  flex: 0;
}
